.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;

  .wrapper {
    width: 70%;
    height: 70%;
    display: flex;

    .left {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      .logo {
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: 800;
        color: #1775ee;
      }

      .desc {
        font-size: 24px;
      }
    }

    .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      .box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 10px;
      }

      input {
        height: 50px;
        margin: 5px 0;
        padding-left: 20px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid gray;
      }

      input:focus {
        outline: none;
      }

      .login-error {
        margin: .5rem auto;
        font-weight: bold;
        color: red;
      }

      .error-hide {
        display: none;
      }

      button {
        height: 50px;
        margin: 5px 0;
        font-size: 20px;
        font-weight: 500;
        background-color: #1775ee;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }

      .link-register-login {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
      }
    }
  }
}